<div class="jumbotron">
  <h1 class="display-3">LilyPods <img src="https://i.imgur.com/Tq6DSll.jpg" class="rounded" id="frog" height=90px
      width=105px></h1>
  <p class="lead">Easily manage your podcast playlist.</p>
  <hr class="my-4">
  <div class="your-class">
    {{#each podcasts}}
    <div><img class="slick-img" src={{imageurl}}></div>
    {{/each}}
  </div>
  <br>
  </p>
</div>


<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <h2>Search Podcasts</h2>
        <br>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <input type="text" id="podcast-search" class="form-control" aria-describedby="example-text"
              placeholder="Search by name, author, or genre...">
          </div>
          {{!-- <button id="submit" href="/api/podcasts/kittens" class="btn btn-primary float-right">Search</button> --}}
          <a class="btn btn-success" id="searchButton" role="button">Search</a>

        </form>

        <h3>{{name}} Podcasts:</h3>
        <ul id="example-list" class="list-group">
          {{#each podcasts}}
          <li class="list-group-item">
            <p id="podId"></p>
            <p class="title">Podcast Title: <h1 class="header">{{title}}></h1>
            </p>
            <img src={{imageurl}} alt="image" height="200" width="150" class="image">
            {{#if ../isAuthenticated}}
            <button data-podcast_id="{{id}}" data-image_url="{{imageurl}}" data-title="{{title}}" data-audio="{{audio}}"
              class="btn btn-danger float-right add">Add to play-list</button>
            {{/if}}
            <br><br>
            <a href="{{audio}}" target="_blank">
              <h6>
                <p>Click to listen to audio</p>
              </h6>
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<footer id="footer">Team IMEA | Copyright 2019</footer>
<script type="text/javascript" src="/lib/slick/slick.min.js"></script>

<script type="text/javascript">



  $(document).ready(function () {
    $(".add").on("click", function (res, req) {
      var data = $(this).data();
      $.post("/api/playlist", data)
        .then(function (data) {
          console.log("posting data....." + data)
          alert("Podcast successfully added to playlist");
        });
    })
    $("#searchButton").on("click", function () {
      window.location.replace("/podcasts/" + $("#podcast-search").val().trim());
    });
    $('.your-class').slick({
      centerMode: true,
      autoplay: true,
      autoplaySpeed: 2000,
      dots: true,
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 3
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 1
          }
        }
      ]
    });
  }); 
</script>