<!-- 5. Output the animalType string, pet boolean and fierceness number to the page for all the animals. -->

<h1>Podcasts found</h1>
<ul>
  {{#each podcasts}}
    <li>
      <p>Podcasts id: {{id}}</p>
      <p>Audio podcast: {{audio}}</p>
    </li>
  {{/each}}
</ul>

<div id="home">
    <div class="container">
      <div class="row">
        <div class="col-8 offset-2">

          <h2>Search a podcast!</h2>
          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="example-text">Podcast name</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                placeholder="Enter podcast name">
            </div>
            <div class="form-group">
              <label for="example-description">Example Description</label>
              <textarea class="form-control" id="example-description" aria-describedby="example-description"
                placeholder="Enter Example Description"></textarea>
            </div>
            <button id="submit" class="btn btn-primary float-right">Search</button>
          </form>
          <h3>Star Wars Podcasts:</h3>
          <ul id="example-list" class="list-group">
            {{#each podcasts}}
            <li data-id="{{did}}" class="list-group-item">
              <p>Podcast Id: {{id}}</p>
              <p>Podcast Audio: {{audio}}</p>
              <p>Podcast Title: {{title}}</p>
              <p>Podcast Image_url: {{imageurl}}</p>
              <img src={{imageurl}} alt="image" height="200" width="200">
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>